{% extends "base.html" %}

{% block content %}

<div django-app="TaskManager" class="task_content categories" >    
    <div class="">
            <div class="content">
                    <div class="welcome">
                        <button id="openbutton" class="openbtn" >&#9776;</button>
                        <span class="welcome-text">Manage Your ToDo List</span> 
                    </div>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="inputContainer Task">
            {{ form.title.label }}<br>
            {{ form.title(size=20) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="inputContainer choice ">
            {{ form.category.label}}<br>
            {{ form.category}}
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="inputContainer  date ">
            {{ form.date.label }}<br>
            {{ form.date }}
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="inputContainer  time">
            {{ form.time.label }}<br>
            {{ form.time }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="buttons">   
            {{ form.submit(class="taskAdd btn") }}
        </div> 
    </form>
      <!-- Task Delete Error alert -->
      {% if check %}
      <div class="alert alert-warning" role="alert">
          <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>
          {{check}}
      </div>
      {% endif %}
      <!-- End Task Delete error alert -->

      <form action="" method="post">
        {{ form.hidden_tag() }} <!-- csrf token for security -->

        <div class="tabs effect-1">
            <!-- radio buttons -->
          <input type="radio" id="tab-1" name="tab-effect-1" checked="checked">
          <span>All</span>

          <input type="radio" id="tab-2" name="tab-effect-1">
          <span>Pending</span>

          <input type="radio" id="tab-3" name="tab-effect-1">
          <span>Overdue</span>

           <!-- end of radio buttons -->


             <!-- tab-content -->
        <div class="tab-content">
            <section id="tab-item-1">
                <ul class="taskList">        
                    {% for todo in todo %} 
                    <li class="currentTaskItem">
                        <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}" >
                        <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                        <span class="taskDone" >at</span>
                        <strong class="taskDone"><i class="fa fa-clock-o"></i> {{ todo.time }}</strong>
                        <span class="taskDone" >on</span>
                        <strong class="taskDatee taskDone"><i class="fa fa-calendar"></i> {{ todo.date }}</strong>
                        <span class="categorypage-{{ todo.category }}">{{ todo.category }}</span>
                        <button class="taskDelete " name="taskDelete" formnovalidate="" type="submit" ><i class="fa fa-trash-o icon"></i></button>
                    </li>     
                    {% endfor %}
                </ul> <!--end All-Tasks-List -->
            </section>
            <section id="tab-item-2">
                <ul id ="currentTasks" class="taskList">        
                    {% for todo in todo %} 
                    {% if todo.date.strftime('%Y-%m-%d') >= DateNow %}
                      <li class="currentTaskItem">
                          <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}" >
                          <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                          <span class="taskDone" >at</span>
                          <strong class="taskDone"><i class="fa fa-clock-o"></i> {{ todo.time }}</strong>
                          <span class="taskDone" >on</span>
                          <strong class="taskDatee taskDone"><i class="fa fa-calendar"></i> {{ todo.date }}</strong>
                          <span class="categorypage-{{ todo.category }}">{{ todo.category }}</span>
                          <button class="taskDelete " name="taskDelete" formnovalidate="" type="submit" ><i class="fa fa-trash-o icon"></i></button>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul> <!--end CurrentTaskList -->
            </section>
            <section id="tab-item-3">
                <ul id ="overdueTasks" class="taskList">
                    {% for todo in todo %} 
                    {% if DateNow >= todo.date.strftime('%Y-%m-%d') %}
                      <li  class="overdueTaskItem">
                      <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}" >
                      <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                      <span class="taskDone" >at</span>
                      <strong class="taskDone"><i class="fa fa-clock-o"></i> {{ todo.time }}</strong>
                      <span class="taskDone" >on</span>
                      <strong class="taskDatee taskDone"><i class="fa fa-calendar"></i> {{ todo.date }}</strong>
                      <span class="categorypage-{{ todo.category }}">{{ todo.category }}</span>
                      <button class="taskDelete " name="taskDelete" formnovalidate="" type="submit" ><i class="fa fa-trash-o icon"></i></button>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul> <!--end OverdueTaskList -->
            </section>
          </div><!-- end tab content -->

         </div><!-- end tab effect -->
        </form>
    
        </div><!-- end content -->

    </div><!-- container -->
    <div class="done">
    <a href="{{url_for('home.homepage')}}" class="btn btn-primary mt-3"> <i class="fa fa-home"></i>Back to Home </a>
    </div>
</div>
{% endblock %}